<head>
	<h1>Welcome to ImageSource!</h1>
</head>
<br>
<br>
<br>
<% if user_signed_in? %>
	<div id="search_bar">
		<p>Enter a key and a value seperated by a space</p>
		<%= form_tag "/query" , method: "get" do %>
	     	 <%= label_tag  :query, "Search for" %>
	     	 <%= text_field_tag :query %>
	    	 <%= submit_tag "Lookup"%>
		<% end %>
	</div>
<% end %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td class="alt"><%= image_tag photo.path.url(:thumb) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

