<head>
  <h1>My Photos</h1>
  <%= link_to 'Search with Tags', "/home/index" %><br>
  <%= link_to 'New Photo', new_photo_path %>
</head>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Photo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= image_tag photo.path.url(:thumb) %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
