<head>
  <h1>My Photos</h1>
  <br>
  <br>
  <%= link_to t('.search with tags', :default => t("helpers.links.search with tags")),
              "/home/index", :class => 'btn'  %>
  <%= link_to t('.new photo', :default => t("helpers.links.new photo")),
              new_photo_path, :class => 'btn'  %>
</head>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Photo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td class="alt"><%= image_tag photo.path.url(:thumb) %></td>
        <td><%= link_to 'Show', photo %></td>
        <% if current_user.id == photo.user_id %>
           <td class="alt"><%= link_to 'Edit', edit_photo_path(photo) %></td>
           <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
