<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @photo.path.url(:medium) %>
</p>

<p><%= link_to 'All Photos', root_path %></p>
<p><%= link_to 'Add tag', new_photo_tag_path(@photo) %></p>

