<p id="notice"><%= notice %></p>
  <%= image_tag @photo.path.url(:small) %>
<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Filename:</strong>
  <%= image_tag @photo.path.url(:small) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
